/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
/*
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}*/

.populaires{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-title {
    justify-content: space-between;
    align-items: flex-end;
}

.hebergement-cards .card-heb{
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px ;
    padding: 0 0 15px 0;
    gap: 4px;
    display: inline-block;
}

.hebergement-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergement-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

nav{   
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 60px 0 40px;
}

nav a {   /*espace entre herbergement et acceuil*/
    margin-left: 10px;
    margin-right: 10px;
  }

.logoa img{ /*TAILLE DU LOGO*/
    width: 120px;

}

.cta{
    flex: 1;
}

.conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}
@media screen and (max-width: 412px) {
    a{
        border-bottom : 1px solid gainsboro ;
        padding-bottom: 10px ;
        
    }
}

@media screen and (max-width: 412px) { /*surligner au survol et deviens bleu */
    header nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  }
  @media screen and (max-width: 412px) {/*surligner au survol et deviens bleu */
    a:hover {
        border-bottom : 1px solid blue ;
        padding-bottom: 10px ;
        color: blue;
      }
  }

  @media screen and (min-width: 820px) {/*surligner au survol et deviens bleu */
    a:hover {
        border-top : 1px solid blue ;
        padding-top: 10px ;
        color: blue;
      }
  }

.centrer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur-formulaire{
    display: flex; 
}

.conteneur-formulaire label{
    width: 50px;
    height: 49px;
    font-size: 22px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.conteneur-formulaire input[type='search']{
    max-width: 300px;
    min-width: 160px;
    width: 377px;
    height: 49px;
    gap: 24px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #F2F2F2;
}


.filtre button {
    font-size: 16px;
    font-size-adjust: ex-height 0.58; /* Modifier la taille des titres des filtres selon vos préférences */
}

.filtre i {
    font-size: 22px; /* Modifier la taille des logos des filtre selon vos préférences */
}


/*.conteneur-btn-form{
    width:  100px;
    padding: 15px 16px 15px 16px;
    position: relative;
    gap: 10px;
    top: -3.3em;
    left:  320px;
    right: 10px;
    font-size: 20px; 
    flex-wrap: wrap; 
    border-radius: 0 15px 15px 0;
}*/

.btn-pc{
    font-size: 16px;
    position: relative;
    background-color: blue;
    border: none;
    color: white;
    font-weight: bold;
    width: 132px;
    height: 49px;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    flex-direction: column;
    cursor: pointer;
    /* style de l'ecriture de rechercher */
}

.centrer-flex i {
    color: black;
}

.btn-mobile{
    width: 49px;
    height: 49px;
    border-radius: 15px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: blue;
    border: none;
    position: relative;
}

.conteneur-btn-form i {
    width: 17px;
    height: 17px;
    color: white;
}





.filtre{
    background-color: white;
    display: flex;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
}
.conteneur-btn-filtre{
    display: flex;
    position: relative;
    flex-direction: row;
}

.btn-i{
    width: 24px;
    height: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color: white ;
}

.info-logement i{
    width: 4px;
    height: 10px;
    top: 7px;
    left: 10px;
}

.info-logement p{
    size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    position: relative;
    top: -2.2em;
    left: 40px;
}
h3{
    top: -30em;
}

.btn-economique{
    border: 2px solid #D9D9D9;
    position: relative;
    width: 167px;
    height: 50px;
    margin: 10px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.btn-familial{
    border: 2px solid #D9D9D9;
    position: relative;
    width: 167px;
    height: 50px;
    margin: 10px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.btn-romantique{
    border: 2px solid #D9D9D9;
    position: relative;
    width: 167px;
    height: 50px;
    margin: 10px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.btn-pepite{
    border: 2px solid #D9D9D9;
    position: relative;
    width: 167px;
    height: 50px;
    margin: 10px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.btn-economique:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-familial:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-pepite:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-romantique:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}



/*
form{
    display: flex;
    height: 60px;
}
*/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 415px) {
    .btn-pc{
        display: none;
    }
    .cta{
        display: flex;
        flex-direction: row;
    }
    .conteneur-btn-filtre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px 70px;
        gap: 5px;
    }
    .populaires {
        background-color: white;
        border-radius: 20px;
        padding: 30px;
        }
}
    /* ... */


@media screen and (min-width: 416px) {
    /*.btn-pc{
        width: 80px;
        height: 49px;
        padding: 25px 2px;
        border: none;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        color: white;
        background-color: blue;
    }*/
    .btn-mobile{
        display: none;
    }
}

