/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    padding: 0px ;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.header-presentation{
    margin: 30px;
    width: 90%;
}

/*logo et nav*/ 
nav{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 0 60px 0 40px;
  }
  
  
  .logoa img{ /*TAILLE DU LOGO*/
      width: 120px;
      margin: 20px;
  }
  
  .conteneur ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      width: 100%;
      float: right;
      flex-direction: row;
  }
  
  li {
      float: initial; 
  }
  
  .conteneur li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      flex-direction: row;
  }
  
  .cta{
      flex: 1;
  }
  
  .centrer-flex{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /*formulauraire*/
  .conteneur-formulaire{
      display: flex;
      margin: 30px; 
  }
  
  .conteneur-formulaire label{
      width: 50px;
      height: 49px;
      font-size: 22px;
      border-radius: 15px 0 0 15px;
      background-color: #F2F2F2;
  }
  
  .conteneur-formulaire input[type='search']{
      max-width: 300px;
      min-width: 160px;
      width: 377px;
      height: 49px;
      gap: 24px;
      padding: 10px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      border: 2px solid #F2F2F2;
  }
  
  
  
  
  
  /*.conteneur-btn-form{
      width:  100px;
      padding: 15px 16px 15px 16px;
      position: relative;
      gap: 10px;
      top: -3.3em;
      left:  320px;
      right: 10px;
      font-size: 20px; 
      flex-wrap: wrap; 
      border-radius: 0 15px 15px 0;
  }*/
  
  .btn-pc{
      font-size: 16px;
      background-color: blue;
      border: none;
      color: white;
      font-weight: bold;
      width: 132px;
      height: 49px;
      border-radius: 0 15px 15px 0;
      padding: 15px 16px 15px 16px;
      gap: 10px;
      flex-direction: column;
      cursor: pointer;
      /* style de l'ecriture de rechercher */
  }
  
  .centrer-flex i {
      color: black;
  }
  
  .btn-mobile{
      width: 49px;
      height: 49px;
      border-radius: 15px;
      padding: 15px 16px 15px 16px;
      gap: 10px;
      background-color: blue;
      border: none;
      position: relative;
  }
  
  .conteneur-btn-form i {
      width: 17px;
      height: 17px;
      color: white;
  }
  
  .conteneur-btn-filtre h2{
      position: relative;
      margin: 30px;
      top: -0.2em;
  }
  
  
  
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


/****** Hebergements ***********/
.hebergements{
    width: 100%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    box-sizing: border-box;
}
.hebergement-title {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    display: flex;
}

.hebergement-cards .card-heb{
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px ;
    padding: 0 28px 28px 0;
    gap: 4px;
    display: inline-block;
}

.hebergement-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergement-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergement-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-cards .card-subtitle {
    margin: 0;
}

.hebergement-cards .card-rating {
    margin-bottom: 5px;
}

.plus h3{
    margin-top: 25px;
    cursor: pointer;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*filtres*/

.filtre{
    background-color: white;
    display: flex;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
}

.filtre button {
    font-size: 16px;
}

.filtre i {
    font-size: 22px; 
}

.btn-i{
    width  : 30px;
    height : 30px;
    border-radius: 50px;
    border: solid 1px gainsboro;
    background : transparent;
    margin: 20px;
    margin-bottom: 20px;
}

.info-logement i{
    width: 4px;
    height: 10px;
    top: 7px;
    left: 10px;
}

.info-logement p{
    font-weight: 400;
    line-height: 18.78px;
    position: relative;
    top: -3em;
    left: 60px;
    width: 80%;
}
.info-logement{
    width: 100% ;
}
h3{
    top: -30em;
}



.btn-economique:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-familial:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-pepite:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

.btn-romantique:hover{
    border: 1px solid blue;
    background-color: rgba(222, 235, 255, 0.5);
    color: black
}

/*
form{
    display: flex;
    height: 60px;
}
*/

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* version tablette*/




@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    nav{
        padding: 0 200px 0px 5px;
    }
    .populaires {
        width: 92%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .hebergement-cards .card-heb {
        width: 200.33px;
        height: 207.25px;
        border-radius: 20px;
        padding: 0 28px 28px 0;
        gap: 4px;
        display: inline-block;
    }
    .card-pop{
        padding: 16px;
        width: 51%;
    }
    
    .activite-card img {
        height: 200px;
        width: 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activite-card{
        display: flex;
        flex-direction: row;
    }
    .activite-card .card-act {
        width: 300px;
        height: 250px;
        border-radius: 20px;
        padding: 0px 21px 15px 0;
        gap: 4px;
        display: inline-block;
    }
    .footer{
        width: 700px;
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width: 1024px) {
    .activite-card img {
        width: 100%;
        height: 380px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    .activite-card .card-act {
        width: 280px;
        height: 439px;
        border-radius: 20px;
        padding: 0 20px 15px 0;
        gap: 4px;
        display: inline-block;
    }
}



/* version telephone*/
@media screen and (max-width: 520px) {
    header nav {
        width: 100%;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        justify-content: center;
      }
      .conteneur {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }
    .conteneur li a:hover {
        color: blue;
        border-bottom: 1px solid blue;
    }
    
    .conteneur li a{
        border-bottom: 1px solid gainsboro;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .btn-pc{
        display: none;
    }
    .conteneur li{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    .conteneur-btn-filtre{
        display: grid;
        grid-template-columns: 175px;
        grid-template-rows: 70px 70px;
        gap: 5px;
    }
    .btn-filtre{
        display: grid;
        grid-template-columns: 175px 175px;
        grid-template-rows: 70px 70px;
        gap: 5px;
        position: relative;
        left: 14px;
        top: -4em;
    }
    .conteneur-btn-filtre h2 {
        position: relative;
        position: relative;
        right: 0px;
        top: -2em;
    }
    .btn-economique{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin-left: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-familial{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin-left: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-romantique{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin-left: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-pepite{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin-left: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    .conteneur ul{
        padding-left: 0px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-pop {
        padding: 16px;
        width: 90%;
    }
    .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0px;
        padding: 18px;
        margin: 0px;
        width: 90%;
    }

    .hebergement-cards .card{
        height: 207.25px;
        border-radius: 20px;
        padding: 10px 7px 0px 7px;
        gap: 4px;
        display: inline-block;
    }
    

    .hebergement-cards .card-heb {
        width: 267.33px;
        height: 207.25px;
        border-radius: 20px;
        padding: 0 28px 28px 0;
        gap: 4px;
        display: inline-block;
    }

    .activite-card {
        display: flex;
        flex-direction: column;
    }

    .activite-card .card-act {
        width: 274px;
        height: 250px;
        border-radius: 20px;
        padding: 0px 0px 0px 1px;
        gap: 4px;
        display: inline-block;
    }

    .activite-card img {
        width: 100%;
        height: 160px;
        border-radius: 19px 19px 0 0;
        object-fit: cover;
    }
    
    .hebergements {
        width: 70%;
        background-color: transparent;
    }
    
    .footer{
        width: 90%;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }
    .footerColumn {
        width: 100%;
        flex-wrap: wrap;
        background-color: var(--main-bg-color);
        border-radius: 0px;
        padding: 18px;
        margin: 0px;
    }
    .footerbloc{
        width: 300px;
        margin: 30px 30px;
    }
   
    
}
    /* version pc */


@media screen and (min-width: 521px) {
    .conteneur li a:hover {
        color: blue;
        border-top: 1px solid blue;
    }
    .conteneur {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }

    
    .conteneur li a{
        border-top: 1px solid white;
    }
    .conteneur-btn-filtre{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .btn-filtre{
        display: flex;
        flex-wrap: wrap;
    }
    .footer{
        flex-shrink: 0;
        width: 95%;
        background-color: var(--main-bg-color);
        border-radius: 20px 20px 0 0;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .btn-economique{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-familial{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-romantique{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    
    .btn-pepite{
        border: 2px solid #D9D9D9;
        position: relative;
        width: 167px;
        height: 50px;
        margin: 10px;
        padding: 4px 19px 4px 19px;
        gap: 10px;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
    }
    .btn-mobile{
        display: none;
    }
    .populaires{
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        margin: 30px;
        box-sizing: border-box;
    } 
    .hebergements {
        width: 92%;
        
    }
    .footerColumn {
        display: flex;
        max-width: 100%;
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0 10px;
        justify-content: center;
        align-items: flex-start;
    }
}


/*ACTIvITES*/

.activite-title {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    margin-bottom: 50px;
}
.card-activite {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
    overflow: hidden;
    flex-direction: row;
    padding: 5px;
}


.activite-card .card-content{
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

}





.activite-card .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}


.act{
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding: 60px;
    
    box-sizing: border-box;
}





/*********footer*********/
.vide{
    display: block;
}




.footer ul{
    display: inline-block;
}

.footerbloc{
    display: flex;
    width: 78%;
    flex-wrap: wrap;
    padding: 0 30px;
}

.footerbloc p{
    padding: 5px 0;
}

.footerbloc h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.footerbloc li{
    padding: 10px 0;
}

.footerbloc ul{
    list-style-type: none;
    display: inline-block;    
}

